body {
    background-color: #4A8C43;
}

#contentGrid {
    display: -ms-grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 60% 60%;
    height: 100%;
    overflow: scroll;
}

#contentGrid div.gridLeft {
    margin-left: 1em;
    margin-right: 1em;
}

#contentGrid div.gridRight {
    margin-right: 1em;
}

#leftContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

#topRightContainer {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    /*background-color:  #808080;*/
}

#bottomRightContainer {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

#contentGrid.flex {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align:stretch;
    -ms-flex-pack: start;
}

#contentGrid.flex > * {
    background-color: gray;
    padding: 20px;
    margin: 10px;
    border: medium solid white;
}

div.buttonContainer {
    visibility: collapse;
    -ms-grid-row: 2;
    width: 100%;
    text-align:center;
}

div.buttonContainer button {
    font-size: 20pt;
    margin: 20px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {

    #contentGrid div.gridRight, #listTable td:last-child, #listTable th {
        display: none;
    }
    #listTable td { white-space: nowrap;}
    #listTable td:first-child { border-right: thin solid white;}
    #contentGrid div.gridLeft { margin-left: 0.5em;}
    #contentGrid {-ms-grid-columns: 1fr;}
    div.buttonContainer {visibility: visible;}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
